<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lead details </title>
<style>
        body{
            font-family:arial; color:#25D366;background-color:#2b78A2
        }
        a{
            font-weight:bold;text-decoration:none; color:#25D366;
        }

    </style>
</head>
<body>
    <h1>Lead details</h1>
    {{lead_details.first_name}}<br>
    {{lead_details.last_name}}<br>
    {{lead_details.age}}<br>
    {{lead_details.Agent}}<br>
    <a href="{% url 'home_page'  %}">Home Page!! {{lead.pk}}</a><br>
    <a href="{% url 'create_lead'  %}">create lead!! </a>
    <a href="{% url 'update_lead'  lead_details.pk %}">== update ==</a><hr>
    <a href="{% url 'delete_lead'  lead_details.pk %}" style="color:red">== delete lead == </a>
</body>
</html>