<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Home Page| welcome!</title>
    <style>
        body{
            font-family:arial; color:#25D366;background-color:#2b78A2
        }
        a{
            font-weight:bold;text-decoration:none; color:#25D366;
        }

    </style>
</head>
<body>
    <h1>Welcome To our home Page !</h1>
    <b>Here are all our leads</b>
    {{leads}}
    <ul>
        {% for lead in leads %}
        <h1>{{ lead.last_name }}   {{ lead.first_name }}</h1><hr>
        <a href="{% url 'lead_details' lead.pk %}">click here for details!! {{lead.pk}}</a><br><hr>
        <a href="{% url 'update_lead' lead.pk %}">click here for update!! {{lead.pk}}</a><hr>
        <a href="{% url 'delete_lead'  lead.pk %}" style="color:red">delete lead!! </a><hr>

        {% endfor %}
    </ul>
    <a href="{% url 'home_page'  %}">Home Page!! </a><br>
    <a href="{% url 'create_lead'  %}">create lead!!</a>
</body>
</html>