<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DJ CRM</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="max-w-7xl mx-auto ">
    {% include 'navbar.html' %}
{%block content%}
{% endblock %}
</div>

</body>
</html>
<!-- <style>
        body{
            font-family:arial; color:#25D366;background-color:#2b78A2
        }
        a{
            font-weight:bold;text-decoration:none; color:#25D366;
        }
        form{
            background-color: black;width:20%;margin:120px;padding:20px;border-radius:30px;margin-left:220px
        }
        button{
        background-color:white;font:bold;border: 2px solid #4CAF50;border-radius:10%

    </style> -